extends layout

block content
  div.card
    h1.card-title Forgot Password
    div.card-body
      form(action="/submit-form" method="POST")
        div.form-group
          label(for="email") Email Address
          input(type="text" name="email" class="input-control" placeholder="Email Address")
          small.text-danger Email Address is required

        div.form-group
          button(name="login" class="btn") Send Verification Link

        div.form-group
          div.separate
            Already Have An Account !
              a(href="/")  Login Now

          